<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>



  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    

<head>

<style>
    .container {
  float: center;
  width: 60%;
  padding: 0 20px;
        }
    body {
    background-color: #1f2833;
        }
    h1 {
    text-align: center;
        }
    </style>

    <br>  
    <h1 style="font-family:Century Gothic,light;font-size:6.75vw;font-style:bold;color:#66fcf1;text-align:center"><i>Sign Language to Text</i></h1> 
    <br>
    <br> 
    <style>
        img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
</style>
</head>
<body>

  <img src="https://media1.tenor.com/images/9ba410ce2196ab32b1982a3b65ab1221/tenor.gif?itemid=25540962" style="width:430px;height:148px;">
  <br>
  <br> 

 <style>
    a:link, a:visited {
    background-color: #66fcf1;
    color: #2e6d6a;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    a:hover, a:active {
    background-color: #0d5744;
    } 

    .mynavElement{
        text-align:center;
    }
    .mynavElement ul li{
    display:inline;

    }
</style>


<div class="container">
    <div class="row text-center ">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title" style="font-family:Century Gothic">Text to Sign</h5>
                  <p class="card-text" style="font-family:Century Gothic">Input your desired text to get Sign Language Images.</p>
                  <a href="/Text_To_Sign" class="btn btn-outline-info">Text_To_Sign</a>
                </div>      
            </div> 
          </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title" style="font-family:Century Gothic">Sign_To_Text</h5>
                  <p class="card-text" style="font-family:Century Gothic">Sign Language is converted to Text.</p>
                  <a href="/Sign_To_Text" class="btn btn-outline-info">Sign_To_Text</a>
                </div>   
            </div>
          </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title" style="font-family:Century Gothic">MediaPipe Demo</h5>
                  <p class="card-text" style="font-family:Century Gothic">Working of the MediaPipe Algorithm.</p>
                  <a href="/mediapipedemo" class="btn btn-outline-info">MediaPipe Demo</a>
                </div>  
             </div>
      </div>
      </div>
  <br>
  
      
    <div class="row text-center">
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title" style="font-family:Century Gothic">Dataset</h5>
              <p class="card-text" style="font-family:Century Gothic">Dataset used in the project.</p>
              <a href="/dataset" class="btn btn-outline-info">Dataset</a>
            </div>     
         </div> 
        </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="width: 15rem;">
            <div class="card-body">
              <h5 class="card-title" style="font-family:Century Gothic">Information</h5>
              <p class="card-text" style="font-family:Century Gothic">Learn more about the project.</p>
              <a href="/about" class="btn btn-outline-info">Read More</a>
            </div>    
        </div>
        </div>
      <div class="col">
        <div class="card text-white bg-dark mb-3" style="width: 15rem;">
            <div class="card-body" style="height:12rem">
              <h5 class="card-title" style="font-family:Century Gothic">Contacts</h5>
              <p class="card-text" style="font-family:Century Gothic"> Contact links of team members</p>
              <a href="/contactus" class="btn btn-outline-info">Contact Us</a>
            </div>    
        </div>
    </div>
    </div>
  </div>
    
</body>

</html>